* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, sans-serif;
  word-break: keep-all;
}

h1 {
  font-size: 120px;
  writing-mode: vertical-lr;
  color: white;
}

article {
  display: flex;
}

a {
  text-decoration: none;
}

section {
  width: calc(100% / 5);
  height: 100vh;
}

.q1 {
  background: black;
}

.q2 {
  background: black;
}

.q2:hover {
  opacity: 0.8;
}

.q3 {
  background: gray;
}

.q3:hover {
  opacity: 0.8;
}


.q4 {
  background: black;
}

.q4:hover {
  opacity: 0.8;
}

.q5 {
  background: black;
}

img {
  border-radius: 50px;
}

@media screen and (max-width:900px) {
  h1 {
    font-size: 60px;
  }
}