* {
  font-family: Arial, sans-serif;
  word-break: keep-all;
  background: black;
  color: white;
}

h1 {
  text-align: center;
  font-size: 60px;
}

p {
  width: 80%;
  text-align: center;
  margin-left: 9vw;
  margin-top: 200px;
  font-size: 20px;
  line-height: 1.4;
}