* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: black;
}

article {
  display: flex;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 5);
  height: 80vh;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 50px;
}

.f1 {
  display: flex;
  border: solid black 10px;
  flex-direction: column;
}
.triangle {
  font-size: 0;
  width: 0px;
  height: 0px;
  border-bottom: calc( 50px * 1.732 ) solid #666666;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.f2 {
  border: solid black 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f3:hover {
  background: gray;
}

.f3 {
  display: flex;
  flex-direction: column;
  border: solid black 10px;
}

.f4 {
  border: solid black 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.f5 {
  border: solid black 10px;
}

p {
  margin: 20px;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.m1 {
  width: 20%;
  height: 20vh;
  border: 10px black solid;
}

.m1:hover {
  background: black;
}

.m2 {
  width: 20%;
  height: 20vh;
  border: 10px black solid;
}

.m3 {
  width: 20%;
  height: 20vh;
  border: 10px black solid;
}

.m4 {
  width: 20%;
  height: 20vh;
  border: 10px black solid;
}

.m5 {
  width: 20%;
  height: 20vh;
  border: 10px black solid;
}

.g1 {
  background: gray;
  width: 180px;
  height: 180px;
}

@media screen and (max-width: 900px) {
  .triangle {
  font-size: 0;
  width: 0px;
  height: 0px;
  border-bottom: calc( 50px * 1.732 ) solid #666666;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 10px;
  }

  .g1 {
  background: gray;
  width: 80px;
  height: 80px;
  }

}

