* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	background-color: rgb(0,15,102);
}

.a1 {
	background: radial-gradient(rgb(252,230,27),rgb(251,118,23),rgb(252,22,22));
	width: 250px;
	height: 250px;
	font-size: 0px;
}

.a1:hover {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	font-size: 0px;
}

.a2 {
	background-color: yellow;
	width: 250px;
	height: 250px;
	font-size: 0px;
}

.a2:hover {
	background-color: white;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	font-size: 0px;
}

.a3 {
	background: radial-gradient(rgb(17,182,252), rgb(1,170,243));
	width: 250px;
	height: 250px;
	font-size: 0px;
}

.a3:hover {
	background-color: white;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	font-size: 0px;
}

.a4 {
	background: radial-gradient(rgb(228,188,112), rgb(134,91,49));
	width: 250px;
	height: 250px;
	font-size: 0px;
}

.a4:hover {
	background-color: white;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	font-size: 0px;
}

.a5 {
	background-color: rgb(150,242,252);
	width: 250px;
	height: 250px;
	font-size: 0px;
}

.a5:hover {
	background-color: white;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	font-size: 0px;
}

h1 {
	padding: 150px;
	font-size: 0px;
}

article {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}