* {
	background: black;
}

div {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 200px;
	background: black;
	height: 100vh;
	color: red;
}

a {
	color: red;
	text-decoration: none;
}